body {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.jumbotron {
    background: #323270;
}

h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}

form {
    border-style: solid;
    border-color: #F5F4F4;
}

input {
    float: left;
    padding: 20px;
    width: 20px;
}

label {}